.Fullbody {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}


.circles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 105%;
    height: 35rem;
    border-radius: 0% 0% 50% 50%;
    margin-bottom: 10rem;
}
